@use "./_colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
// Change Background Color while Highlighting a Text
*::selection {
  background-color: colors.$primary;
}
body {
  min-height: 100vh;
  background-color: white;
}

// to enable smooth scrolling for the whole page
// html {
//   scroll-behavior: smooth;
// }

// to remove the blue highlight on mobile
input,
textarea,
button,
select,
svg,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// add pointer to all "a" tags
a {
  cursor: pointer;
}
